<h3>About me</h3>
<p>Hello, World :)</p>
<p>
    I am Oscar, a prodigious pupper born on April 1, 2023. Coincidence? I think not—April Fools' Day sums up my life philosophy of pranks, mischief, and wagging tails.  I'm fortunate to have Anooshik as my Kahu (that's “guardian” in Hawaiian), who I adore and occasionally drive bonkers. Together, we take on the world, one treat at a time.
  
  </p>
  <p>  After successfully graduating from four—yes, four—doggie training classes (with distinction in Treat Consumption), I have taken a brief pause to pursue my other passions: protecting the house from scooters and bicycles, analyzing neighborhood data, and napping at odd angles.
     Now, thanks to the downturn in the snack economy, I have built this awesome personal portfolio using <b>Angular v18</b>. 
     
     <p> Feel free to take a look at my portfolio of projects (which, let's face it, is basically photos of me being adorable) and read on to be swept away by my skills!
    </p>
    <img  style="height: 50vh; width: auto" src="assets/about-me.jpg"/>
