<div class="paw-print-trail">
    <mat-icon class="paw-left">pets</mat-icon>
    <mat-icon class="paw-right">pets</mat-icon>
    <mat-icon class="paw-left">pets</mat-icon>
    <mat-icon class="paw-right">pets</mat-icon>
    <mat-icon class="paw-left">pets</mat-icon>
    <mat-icon class="paw-right">pets</mat-icon>
    <mat-icon class="paw-left">pets</mat-icon>
    <mat-icon class="paw-right">pets</mat-icon>
    <mat-icon class="paw-left">pets</mat-icon>
    <mat-icon class="paw-right">pets</mat-icon>
    <mat-icon class="paw-left">pets</mat-icon>
    <mat-icon class="paw-right">pets</mat-icon>
    <mat-icon class="paw-left">pets</mat-icon>
    <mat-icon class="paw-right">pets</mat-icon>
    <mat-icon class="paw-left">pets</mat-icon>
 </div>