<h3>Skillset</h3>
<h4>Hard Skills</h4>
<mat-list>
  <mat-list-item> 
    <b>Protection:</b> Can bark at the doorbell like a seasoned professional. Rest assured, no unknown entity, or new neighbor gets past me.</mat-list-item>
 <mat-list-item> 
  <b> Data Analysis:</b> Fluent in neighborhood exploration. I gather crucial intel by sniffing every tree, car and bush within one kilometer radius.</mat-list-item>
  <mat-list-item> 
    While I'm fluent in the “Bark” language, my human vocabulary continues to grow daily. Prepare to be amazed by all the <a href="#">commands</a> I have mastered.</mat-list-item>
  </mat-list>
 <h3>Soft Skills</h3>
<mat-list>
  <mat-list-item> <b>Creativity:</b> I once invented a new game called “Shred the Slipper.” It didn't go over well, but hey, every artist faces adversity.</mat-list-item>
  <mat-list-item>
    <b>Public Speaking:</b> Whether it's a “woof” or a “bark,” I deliver passionate speeches whenever I spot the neighbor's cat.</mat-list-item>
  <mat-list-item> 
    <b>Persuasion and Negotiation:</b> My puppy eyes are a strategic weapon in securing extra treats and belly rubs.</mat-list-item>
    <mat-list-item> 
      <b>Conflict Resolution:</b> Currently working on my "not barking at the vacuum" skills. Progress is being made... slowly.</mat-list-item>
      <mat-list-item> 
        <b>Active Listening:</b> My ears perk up at the slightest sound of a treat bag. Working on listening to other less important sounds too, like commands.</mat-list-item>
       </mat-list>
 <h3>Commands</h3>
 <p>I've aced all these commands, powered by the boundless energy of treats. Who needs a master's degree when you can master “Shake” with a liver snack?</p> 
 <p>Here's a list of my greatest hits:
 </p>
 <mat-chip-set>
  <mat-chip> <mat-icon matChipAvatar>star</mat-icon>Sit</mat-chip>
  <mat-chip><mat-icon matChipAvatar>star</mat-icon>Stay</mat-chip>
  <mat-chip><mat-icon matChipAvatar>star</mat-icon>Down</mat-chip>
  <mat-chip><mat-icon matChipAvatar>star</mat-icon>High Five</mat-chip>
  <mat-chip><mat-icon matChipAvatar>star</mat-icon>Shake</mat-chip>
  <mat-chip><mat-icon matChipAvatar>star</mat-icon>Bird</mat-chip>
  <mat-chip><mat-icon matChipAvatar>star</mat-icon>Spin</mat-chip>
  </mat-chip-set>